{% extends 'base.html' %} {% block content %}
<input type="hidden" name="room" value="{{ data.chat }}" id="room" />
<div class="row justify-content-center mb-2">
  <a
    href="/chats/1"
    class="btn m-1 text-light {% if data.chat == 1 %} btn-primary {% else %} btn-secondary {% endif %}"
    >Room 1</a
  >
  <a
    href="/chats/2"
    class="btn m-1 text-light {% if data.chat == 2 %} btn-primary {% else %} btn-secondary {% endif %}"
    >Room 2</a
  >
  <a
    href="/chats/3"
    class="btn m-1 text-light {% if data.chat == 3 %} btn-primary {% else %} btn-secondary {% endif %}"
    >Room 3</a
  >
</div>
<div class="row justify-content-center flex-grow-1" style="max-height: 500px;">
  <div class="col-md-8">
    <div class="messages-list bg-light p-3 border rounded overflow-auto h-100"></div>
  </div>
</div>
<div class="row justify-content-center my-3" style="margin-top: 70px;">
  <form class="input-group col-md-8" style="height: 38px;" action="" method="post">
    <input
      type="text"
      data-emojiable="true"
      class="form-control message"
      placeholder="Write a message..."
    />
    <div class="input-group-append">
      <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Send" />
    </div>
  </form>
</div>
<div class="row justify-content-center">
  <div class="col-md-8 alert-window"></div>
</div>
{% endblock content %}
