{% extends 'base.html' %} {% block content %}
<div class="container py-3 h-75 d-flex flex-column">
  <h2 class="text-center font-weight-light">Anonymous Chat App</h2>
  <div class="row justify-content-center flex-grow-1">
    <div class="col-md-8">
      <div class="messages-list bg-light p-3 border rounded overflow-auto h-100"></div>
    </div>
  </div>
  <div class="row justify-content-center my-4">
    <form class="input-group col-md-8" style="height: 38px;" action="" method="post">
      <input
        type="text"
        data-emojiable="true"
        class="form-control message"
        placeholder="Write a message..."
      />
      <div class="input-group-append">
        <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Send" />
      </div>
    </form>
  </div>
</div>
{% endblock content %}
